.chats-page-container_chatsPage1__AvrBy {
  left: 531px;
  width: 341.47px;
  height: 505px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lato);
}

.chatChild {
  position: absolute;
  top: 0;
  left: 537px;
  border-radius: var(--br-xl);
  width: 235px;
  height: 109px;
}
.youHitYour {
  position: absolute;
  top: 12px;
  left: 552px;
  letter-spacing: 0.09em;
  font-weight: 600;
  display: inline-block;
  width: 214px;
}
.chat {
  position: absolute;
  top: 88px;
  left: 0;
  width: 235px;
  height: 109px;
}
.chat1,
.chatInner,
.chatItem {
  position: absolute;
  width: 235px;
  height: 43px;
}


.chats-page-container_todayIsTuesdayContainer__EHhYm {
  position: absolute;
  top: 14px;
  left: 563px;
  letter-spacing: 0.09em;
  font-weight: 600;
  display: inline-block;
  width: 214px;
  height: 117px;
}

.howDoes {
  right: 25px;
  position: absolute;
  top: 7px;
  /* left: 547px; */
  letter-spacing: 0.10em;
  font-weight: 600;
  display: inline-block;
  width: 168.47px;
  height: 44.28px;
}


.chatItem {
  top: 0;
  left: 1px;
  border-radius: var(--br-xl);
}
.chat1,
.chatInner {
  top: 218px;
  left: 656px;
}
.chatInner {
  top: 0;
  left: 550px;
  border-radius: var(--br-xl);
  height: 250px;
}

.thenYouCan {
  margin: 10;
}
.hitTheGym,
.todayIsTuesdayContainer {
  position: absolute;
  top: 14px;
  left: 558px;
  letter-spacing: 0.09em;
  font-weight: 600;
  display: inline-block;
  width: 214px;
  height: 117px;
}
.hitTheGym {
  top: 170px;
  height: 66px;
}
.chat2,
.rectangleIcon {
  position: absolute;
  top: 282px;
  left: 0;
  width: 235px;
  height: 223px;
}
.rectangleIcon {
  top: 0;
  left: 533px;
  border-radius: var(--br-xl);
  width: 185px;
  height: 56px;
}
.senseiHowWell {
  position: absolute;
  top: 12px;
  left: 547px;
  letter-spacing: 0.09em;
  font-weight: 600;
  display: inline-block;
  width: 168.47px;
  height: 44.28px;
}
.chat3,
.chatsPage1 {
  position: absolute;
  top: 0;
  left: 156px;
  width: 185.47px;
  height: 56.28px;
}
.chatsPage1 {
  left: 0;
  width: 341.47px;
  height: 505px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-lato);
}
